.auto-grid {
    --auto-grid-min-size: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: .5rem;
  }

  .truncate {

    font-size: var(--auto-grid-min-size);
  }


.flip-in-diag-2-br{-webkit-animation:flip-in-diag-2-br .5s cubic-bezier(.25,.46,.45,.94) both;animation:flip-in-diag-2-br .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes flip-in-diag-2-br{0%{-webkit-transform:rotate3d(-1,1,0,-80deg);transform:rotate3d(-1,1,0,-80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}@keyframes flip-in-diag-2-br{0%{-webkit-transform:rotate3d(-1,1,0,-80deg);transform:rotate3d(-1,1,0,-80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}
  